.containerReserva{

  background-color: #DFE4EA;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  }
  
  .title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #31363f;
  padding: 1rem; 
  
  }
  
  .dateArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #DFE4EA;
  }
  
  .containerButton {
  
  background-color:  #f2f2f2;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.45) 1px 2px 6px;
  padding: 1rem;
  
  }
  
  .button {
  background-color: var(--laranja-principal);
  color: var(--branco);
  border: none;
  width: 18rem;
  height: 2.5rem;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  font-size:medium;
  font-weight: bold;
  /* display: inline-block; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px rgba(114, 110, 110, 0.17);
  }


/* ===== RESPONSIVIDADE ======== */

@media screen and (max-width: 1124px) {
  
  .dateArea {
    flex-direction: column;
  }

  .containerButton { 
    
    box-shadow: none;
    margin-left: 0;
    padding: 0 2rem;
    background-color: #DFE4EA;
    
  }

}

@media screen and (max-width: 620px) {

  .containerButton p {
    font-size: 0.9rem;
    padding: 0 0.2rem;
    width: 18rem;
    
  }

  .title {
    font-size: 20px;

  }

  

}