.containerInformacao {
    /* height: 367px; */
    /* top: 2119px; */
    /* left: -23px; */
    margin-bottom: 4rem;          
}

.regrasGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-size: 14px;
    padding: 0 40px 20px 40px;
    margin: 20px;
}


.tituloInformacao {
    /* height: 80px; */
    font-size: 24px;
    font-weight: bold;
    line-height: 28.13px;
    border-bottom: 1.8px solid #F0572D; 
    padding: 20px 0px 20px 40px;
    color: #31363f;
}

.regrasInformacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #31363f;
    margin: 10px;

}

.regrasTitle {
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 2rem;
    
}

.regrasInfo {
    padding-bottom: 10px;   
}

@media screen and (max-width: 620px) {

.regrasGrid {
grid-template-columns: 1fr 1fr;
padding: 0px 0px 0px 0px;
}
    
.regrasTitle {
font-size: 18px;
margin-bottom: 1.5rem;
}
    
.regrasInfo {
font-size: 14px;
}
      
}

@media screen and (max-width: 420px) {
.tituloInformacao { 
font-size: 22px;
padding: 20px 0px 20px 20px;

}


.regrasGrid {
grid-template-columns: 1fr;
}

.regrasTitle {
    font-size: 16px;
    margin-bottom: 1.2rem;
    }
        
    .regrasInfo {
    font-size: 13px;
    }

}